@page
@using rtWebApp.Components
@model BAPIModel
@{
    ViewData["Title"] = "Call API page";
}


<p> This is the blank page to Blazor  </p>



  @(await Html.RenderComponentAsync<AddItem>(RenderMode.ServerPrerendered))

