@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Remember This Home Page!</h1>
    <p>Post a picture about a memorable occasion!</a>.</p>
</div>
