@page "/Claims"
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>ClaimsPrincipal Data</h1>

<button @onclick="GetClaimsPrincipalData">Get ClaimsPrincipal Data</button>

<p>@authMessage</p>

@if (claims.Count() > 0)
{
    <ul>
        @foreach (var claim in claims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
}

<p>First name: @fname, Last name: @lname</p>

@code {
    private string? authMessage;
    private string? lname;
    private string? fname;
    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();

    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider
            .GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            authMessage = $"{user.Identity.Name} is authenticated.";
            claims = user.Claims;
            lname = user.FindFirst(c => c.Type == ClaimTypes.Surname)?.Value;
            fname = user.FindFirst(c => c.Type == ClaimTypes.GivenName)?.Value;
        }
        else
        {
            authMessage = "The user is NOT authenticated.";
        }
    }
}