@page "/Bobo"


<PageTitle>Bobo Lives Here</PageTitle>

<h1>Hello, from Bobo!</h1>

<input @bind="UserName" placeholder="please add your user name" />
<br>
<br>
<input @bind="Title" placeholder="describe the fun time" />

<br>
<br>
<br>





