@page "/Circle"

<PageTitle>Circle</PageTitle>

<h1>Test Page for Image in Cirlce</h1>

<img class="rounded-circle"  src="./Images/BabaMan.jpg" alt="">

<br><br><br>

<img  height=auto width="175" src="./Images/BabaMan.jpg" alt="">

<br><br><br>

<div class="ratio ratio-1x1 rounded-circle overflow-hidden">
    <img class="img-circle" height=auto width="175" src="./Images/BabaMan.jpg" alt="">
</div>



@code {

}