<button type="button" @onclick="ChildCallParentMethodOK">Call parent OK</button>
<button type="button" @onclick="ChildCallParentMethodCancel">Call parent Cancel</button>

@* <button type="button" @onclick="CallMethodParent">Call a method on parent component</button> *@


    @code {
    
        [Parameter]
        public EventCallback<string> EventCallbackToParentMethod { get; set; }
        

    
        private async Task ChildCallParentMethodOK()
        {
            if(EventCallbackToParentMethod.HasDelegate)
            {
              await  EventCallbackToParentMethod.InvokeAsync("You clicked the OK button.");
            }
        }

         private async Task ChildCallParentMethodCancel()
        {
            if(EventCallbackToParentMethod.HasDelegate)
            {
              await  EventCallbackToParentMethod.InvokeAsync("You clicked the Cancel button.");
            }
        }
    
    }