@page "/ECBParent"

<p>@message</p>

<ECBFlatChild EventCallbackToParentMethod="ParentLocalMethod" />

@code{
    private string message;

    private void ParentLocalMethod(string message)
    {
        this.message = message;
    }

}