@using SharedModels;


@*
This is a shared component that will display 1 single item in a Bootstrp card for editing
it takes the following parameters
* an instance of the item to display
* an event call back for the submit button
* an event call back for which button was clicked on modal, if needed
* Card title
* IBrowserFile reference to store file selected
*@

<style>
    @*div{margin-bottom:10px;}label{display:inline-block;width:150px;text-align:right;}*@textarea {
        vertical-align: middle;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>




<RTModalComponent @ref="childmodal" SendBtnClickedBackToParent="DisplayBtnClicked">
    <Title> <i>Remember This</i> Status</Title>

    <Body> @ChildModalBody </Body>
    <Footer>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
        @onclick='() => childmodal!.SendModalButtonClicked("OK")'>
            <span class="oi oi-cloud" aria-hidden="true"></span> OK
        </button>
    </Footer>
</RTModalComponent>

<div class="card">
    <div class="card-header">
        <h3 style="text-align:center">@childCardTitle</h3>
    </div>
    <div class="card-body">
        <EditForm EditContext="@rtItemChildEditContext" OnValidSubmit="SubmitECB">
            <div class="row">
                <div class="column">
                    <label for="rtLocation">Location : </label>
                    <InputText id="rtLocation" @bind-Value="@thisChildrtItem!.rtLocation" class="form-control" />
                    <br><br>
                    <label for="rtDescription">Description: </label>
                    <InputTextArea id="rtDescription" rows="3" cols="23" @bind-Value="@thisChildrtItem.rtDescription"
                        class="form-control">
                    </InputTextArea>
                </div>
                <div class="column">
                    <br>
                    <InputFile id="blazIF1" OnChange="SelectedFileProcess" class="form-control"
                        accept=".png,.jpg,.jpeg,.gif,.bmp" />
                    <br>
                    <img id="pageimage" height=auto width="175" src="./Images/No Image Selected.png"
                        alt="Select an image to share">
                </div>
            </div>
            <div class="card-footer d-flex align-items-center">
                <button class="btn btn-primary mx-auto" type="submit">Click here to <i>Remember This</i> memory!
                </button>

            </div>
        </EditForm>
    </div>
</div>


<NavigationLock ConfirmExternalNavigation="@(rtItemChildEditContext!.IsModified())"
    OnBeforeInternalNavigation="ConfirmInternalNavigation" />


@code
{
    //Modal for filesize error
    protected RTModalComponent? childmodal { get; set; }

    protected bool childOKtoLeavePage { get; set; }

    protected string ChildModalBody { get; set; } = string.Empty;

    [Inject]
    protected IJSRuntime jsRuntime { get; set; } = null!;

    [Inject]
    protected IConfiguration Config { get; set; } = null!;

    public IBrowserFile childFile { get; set; } = null!;


    [Parameter]
    public string? childCardTitle { get; set; } = null!;

    [Parameter]
    public rtItem? thisChildrtItem { get; set; } = null!;    
    

    [Parameter]
    public EventCallback<IBrowserFile> CallParentSubmit { get; set; }

    public EditContext? rtItemChildEditContext;

    protected override void OnInitialized()
    {
        rtItemChildEditContext = new(thisChildrtItem!);
    }
    protected async Task SelectedFileProcess(InputFileChangeEventArgs e)
    {
        long _fileSizeLimit = Config.GetValue<long>("FileSizeLimit");

        if (!((e.File.Size > 0) && (e.File.Size < _fileSizeLimit)))
        {
            ChildModalBody = "File size invalid";
            childmodal!.Open();
            await jsRuntime.InvokeVoidAsync("ResetFilePicker");

        }
        else
        {
            // file size is good so save to class variable and update preview on screen
            childFile = e.File;
            await jsRuntime.InvokeVoidAsync("loadFileJS");
        }
    }


    protected async Task ConfirmInternalNavigation(LocationChangingContext context)
    {
        if (!childOKtoLeavePage)
        {
            var confirmed = await jsRuntime.InvokeAsync<bool>("confirm", "Discard your changes?");

            if (!confirmed)
            {
                context.PreventNavigation();
            }
        }

    }
    public void NavAwaycheck(bool parentOKtoLeavePage)
    {
        childOKtoLeavePage = parentOKtoLeavePage;        
    }
    protected void DisplayBtnClicked(string _btnClicked)
    {
        // placeholder method. if we need to know which button was pressed on modal

    }

    public async Task SubmitECB()
    {
        // HasDelegate appears to be a best practice so you don't invoke a callback if a
        // call back listener (delegate) has not been set up.

        if (CallParentSubmit.HasDelegate)
        {
            await CallParentSubmit.InvokeAsync(childFile);
        }

    }
}