@page "/Pop3"
@using BlazorWebApp.Pages



<PageTitle>Pop3</PageTitle>

<h1>Modal Confirmation Demo!</h1>


<button type="button" class="btn btn-primary" @onclick="CallShowModal" >
  Display Modal
</button>

<Popup confirmation=@showSwitch @ref="modalcomponent" />

@code
{ 
  private bool showSwitch = false;

  Popup modalcomponent;
  
  private void CallShowModal()
  {
    @* modalcomponent.ShowModal(); *@
    showSwitch = true;

  }


}