@page "/Pop5"

<h1>Test Harness Page</h1>

Parent Harness to call modal dialog.
<br>
<br>
<button class="btn btn-primary" @onclick="() => modal.Open()">Call child Modal</button>

<Modal @ref="modal">
    <Title> <em>Test Harnes to tet myModal</em></Title>
    <Body>
        <p>
            my Lorem ipsum dolor sit amet, consectetur adipiscing elit. Omnes enim iucundum motum, quo sensus hilaretur.
            <i>Quis istud possit, inquit, negare?</i>
            <mark>Ego vero isti, inquam, permitto.</mark> Duo Reges: constructio interrete.
        </p>
        @* <FetchData /> *@
        <dl>
            <dt><dfn>Stoici scilicet.</dfn></dt>
            <dd>An hoc usque quaque, aliter in vita?</dd>
            <dt><dfn>Erat enim Polemonis.</dfn></dt>
            <dd>Quod cum accidisset ut alter alterum necopinato videremus, surrexit statim.</dd>
        </dl>
    </Body>
    <Footer>
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => modal.Close()">Close</button>

        <button type="button"  class="btn btn-primary">
            <span class="oi oi-cloud" aria-hidden="true"></span> Save changes</button>
             @* <span class="oi oi-external-link" aria-hidden="true"></span> List of Items *@

@* <span class="oi oi:cloud" aria-hidden="true"></span> *@


    </Footer>
</Modal>

@code {
    private Modal modal { get; set; }
}