@page "/Popover"
@inject IJSRuntime JS

<PageTitle>Popover</PageTitle>

<button type="button" class="btn btn-lg btn-secondary" data-bs-toggle="popover" data-bs-title="Popover title"
    data-bs-content="And here's some amazing content. It's very engaging. Right?">
    Click to see Popover2
</button>
<br>
<br>
<br>
<br>

    <hr>
  


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("enablePopovers");
        }
    }

}
