@if(confirmation)
{
    <div class="modal" tabindex="-1" style="display:block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick=CloseDialog></button>
      </div>
      <div class="modal-body">
        <p>Are you sure to add to database?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick=DiscardChanges>Discard Changes</button>
        <button type="button" class="btn btn-success" @onclick=SaveChanges>Save changes</button>
        @* <button type="button" class="btn btn-success" @onclick=@(async ()=>await SaveChangesAsync())>Save changes</button> *@
      </div>
    </div>
  </div>
</div>
}
<br>
<br>
<br>
<br>
<br>
<br>
<label >@myMessage </label>



@code
{
   
    private string myMessage = "Constructor";
    

    public bool confirmation { get; set; } = false;

    public void ShowModal()
    {
        // await _employeeservice.addNewEmployeeAsync(employeemodel);
        myMessage = "ShowModal";
        confirmation = true;

    }
    private void CloseDialog()
    {
        myMessage = "CloseDialog";
        confirmation = false;
    }
    private void DiscardChanges()
    {
        //Hide Model
        myMessage = "DiscardChanges";
        confirmation = false;
    }
    private void SaveChanges()
    {      
        //Close the dialog 
        myMessage = "SaveChanges";
        confirmation = false;
       
    }

}
