@page "/ReadAllRT"
@inherits ReadAllRTBase



<div class="card">
    <div class="card-header">
        <h3 style="text-align:center">Here are your memories!</h3>
    </div>
    <div class="card-body">
    </div>
</div>

<label >@InfoMsg </label>


