@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to <i>Remember This</i>!</h1>

<br>
<p>Welcome to the Remember This App!  </p>
<br>

<p>Here you can add, share and browse your memories!</p>

<p>You can also see memories of friends you follow!</p>

