@using Microsoft.AspNetCore.Components.Forms




<h1>Upload Demo</h1>
<br>
<h2>Blazor code here</h2>

@* <EditForm Model="thisrtItem"> *@
    <div >
        @* <label for="thisrtItem.rtUser">User Name: </label>    
    <InputText id="firetruck" class="form-control" @bind-Value="thisrtItem" /> *@

        <InputText id=> </InputText>
    </div>
@* </EditForm> *@

@*   <InputText id="lastName" class="form-control" @bind-Value="newCustomer.LastName" /> *@


 @* <label for="thisrtItem.rtUser">User Name: </label>
                    <input type="text" asp-for="thisrtItem.rtUser" placeholder="user"><br> *@
@code
{
    string thisrtItem = "Dog";
}